  /* Sticky footer styles
  -------------------------------------------------- */
  html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Raleway', sans-serif;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 285px;
    background-color: white;
    padding-top: 10px;
  }


  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */

  body > .container {
    padding-top: 0px;
    padding-bottom: 280px;
  }
  .container .text-muted {
    margin: 20px 0;
  }

  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  h1{
    font-size: 48px;
    text-align: center;
    font-weight: bold;
  }

  code {
    font-size: 80%;
  }

/* aqui começa o estilo modificado */
img.logo{
  width: 5.75rem;
  float: left;
}
span.logo{
  margin-top: 15px;
  margin-left: 10px;
  display: inline-block;
  color: black;
}
/* configuração navbar */
.navbar-default{
  background-color: white;
  height: 6.95rem;
}
.navbar-default .navbar-nav{
  margin-top: 10px;
  float: right;
}
.navbar-header .navbar-toggle{
  margin-top: 15px;
}
.navbar-default .navbar-nav a{
  background-color: white;
}
/*configuração container pagina sobre nós */
.sobre_nos{
 margin-top: 70px;
}

/*configuração container pagina contato */
.contato_h3{
  font-size:30px;
}
.contato_p{
  font-size: 30px;
  color: rgb(120,120,120);
}
.contato_horario_h3{
  font-weight: bold;
}

.form_contato{
  font-size: 24px;
  margin-top: 100px;
}
.form_contato textarea{
  width: 100%;
  height: 250px;
  margin-top: 20px;
}

.form_contato textarea, 
.form_contato input[type=text], 
.form_contato input[type=email]{
  padding: 20px;
  background-color: #f5f6fa;
  border: 1px solid rgb(220,220,220);
  color: black;
  
}
.form_contato input[type=text], 
.form_contato input[type=email]{
  width: 32%;
  margin-left: 7.2px;
}

.form_contato input[type=submit]{
  color: white;
  background-color: #ffb142;
  border: none;
  padding: 20px 36px;
  margin-top: 10px;
  color: black;
}

/* configuração footer */

footer img.logo{
  float: none;
  width: 10rem;
  margin-top: 30px;
}
footer span.logo{
  font-size: 20px;
}
.footer .row{
  border-top: 1px solid rgb(204, 204, 204);
  border-bottom: 1px solid rgb(204, 204, 204);
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer .linha{
  border-left: 1px solid rgb(204, 204, 204);
}

footer ul li a, footer ul li a:hover{
  text-decoration: none;
  line-height: 33px;
  color: black;
}
footer ul li{
  list-style: none;
}
.footer_telefone{
  background-color: #ecf0f1;
  border: 1px solid #7f8c8d;
  color: rgb(197,197,197);
  font-size: 18px;
  padding: 20px;
  margin-top: 38px;
  margin-left: 0px;
}
.footer_telefone span{
  color: rgb(70, 70, 70);
  font-size: 32px;
}
.paragrafo{
  line-height: 200%;
    color:#2d3436;
    margin-top: 30px;
}
.img_home{
  background-image: url("../img/bg_home.jpg");
  background-position: center;
  width: 100%;
  margin-top: 70px;

}
.text_home{
  background-color: white;
  font-size: 48px;
  margin-top: 200px;
  margin-bottom: 100px;
  padding: 30px;
  max-width: 550px;
  opacity: 0.5;
}
.subititulo{
  font-size: 40px;
  text-decoration: none;
}



/* media query for tablets */
@media(min-width: 768px) and (max-width: 992px){
 .navbar-nav>li>a {
    padding-top: 20px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 13px;
  }
  .footer{
    height: 550px !important;
  }
  span.logo {
    font-size: 15px;
    margin-left: 3px;
  }
  body > .container {
    padding-bottom: 550px;
  }
  .contato_p{
    font-size: 25px;
  }
  .form_contato input[type=text], 
  .form_contato input[type=email]{
    margin-left: 5px;
  }
}



/* media query for celulares e smart phones */
@media(min-width: 360px) and (max-width: 767px){
  .footer{
    height: 500px !important;
  }
  body > .container {
    padding-bottom: 500px;
  }
  .contato_p{
    font-size: 15px;
  }
  .contato_h3{
    font-size: 10px;
    font-weight: bold;
  }
  h1{
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
  }
  .form_contato input[type=text], 
  .form_contato input[type=email]{
    width: 97%;
    margin-top: 5px;    
  }
}















